# Node dependencies
node_modules
npm-debug.log
yarn.lock
pnpm-lock.yaml



# Docker files
Dockerfile
.dockerignore

# Git
.git
.gitignore

# Env files (NEVER send to Docker image)
.env
.env.* 

# OS / build files
.DS_Store
*.swp
