name: deploy-frontend

on:
  push:
    branches:
      - main
    paths:
         - "frontend/**"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3 

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 'latest' 

      - name: Install Dependencies
       
        run: cd frontend && npm install
        
      - name: Build Static Files
       # Run the build command (this should output to a folder like 'dist')
        run: cd frontend && npm run build 
        env:
          VITE_API_BASE_URL: ${{ secrets.API_BASE_URL }}   
          VITE_GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
          VITE_IMAGEKIT_PUBLIC_KEY: ${{ secrets.IMAGEKIT_PUBLIC_KEY }}
          VITE_IMAGEKIT_URL_ENDPOINT: ${{ secrets.IMAGEKIT_URL_ENDPOINT }}
          VITE_RAZORPAY_KEY_ID: ${{ secrets.RAZORPAY_API_KEY }} 
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-2

      - name: Deploy Static Site to S3 Bucket
        run: |
          aws s3 sync frontend/dist s3://connectly-frontend --delete --cache-control max-age=31536000,public

      - name: Invalidate CloudFront cache
        run: |
          aws cloudfront create-invalidation \
            --distribution-id ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }} \
            --paths "/*"