
name: Deploy Backend

on:
  push:
    branches: [ main ]
    paths:
       - 'Backend/**'   
jobs:
 
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Login to Docker Hub
      run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
    
    - name: Build and Push
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/connectly-backend:latest -f Backend/Dockerfile Backend/
        docker push ${{ secrets.DOCKER_USERNAME }}/connectly-backend:latest

  # Deploy on your EC2 
  deploy:
    runs-on: self-hosted
    needs: build
    # -f Backend/Dockerfile \Backend/
    steps:
    - name: Pull latest image
      run: docker pull ${{ secrets.DOCKER_USERNAME }}/connectly-backend:latest
    
    - name: Stop old container
      run: docker stop my-app || true && docker rm my-app || true
    
    - name: Run new container
      run: |
        docker run -d \
          --name my-app \
          --restart unless-stopped \
          -p 5000:5000 \
          ${{ secrets.DOCKER_USERNAME }}/connectly-backend:latest
    
    - name: Cleanup
      run: docker image prune -af